<% include ./partials/header.ejs %>
<style>
    html,
    body {
      position: relative;
      height: 100%;
    }

    body {
    
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      height: 90vh;
      width: 100%;
      position: relative;
      justify-content: center;
      align-items: center;
    }
    .swiper-button-next::after ,.swiper-button-prev::after{
        color: white;
      
      }
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .head{
        height: 100%;
        width: 100%;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #00000054;
    }
    .head h1{
        font-size: 45px;
        font-family: monument;
        font-weight: 600;
    }
   .top{
   background: #fff;
   }
   .card {
    position: relative;
    width: 290px;
    height: 364px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    color: black;
    z-index: 2;
  }
  
  .card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 300px;
    height: 394px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -1;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
  }
  
  .card p:not(.heading) {
    font-size: 14px;
  }
  
  .card p:last-child {
    color: #e81cff;
    font-weight: 600;
  }
  
  .card:hover::after {
    filter: blur(30px);
  }
  
  .card:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
  }
 

 
  </style>
<div>
    <nav class="flex  h-fit font-nunito flex-col">
       
        <div class="div flex  bg-zinc-100 text-[#000] items-center justify-between py-5 px-5 lg:px-14 ">
            <div class="left ">
                <a class="text-bold inline-flex text-xl font-bold items-center" href="/"> 
                  <div class="div h-16 w-16 ">
                    <img class="h-full object-cover  w-full" src="/images/20230430_211720_0000-removebg-preview.png" alt=""> 
                  </div>
                  
                  TuneMusic Label</a>
            </div>
            <div class="right">
                <ul class="flex lg:text-lg text-lg md:text-sm md:gap-5  font-nunito gap-8 items-center  ">
                    <li class=" font-bold"><a href="/"> Home</a></li>
                   
                    <li class=" font-bold"><a href="/terms">Terms & policy</a></li> 
                    <li class=" font-bold"><a href="/packages">Packages</a></li> 
                    <li class="font-bold"><a href="/login">Login</a></li>
                
                   
                    <h4><i id="menu-btn" class="  ri-menu-line"></i></h4>
                </ul>
            </div>
        </div>
    </nav>
    <div id="slidebar" class=" text-black bg-zinc-100">
        <div class="left">
            <a class="text-bold inline-flex text-2xl items-center justify-center" href="/">
              <div class="div h-16 w-16 ">
                <img class="h-full object-cover  w-full" src="/images/20230430_211720_0000-removebg-preview.png" alt=""> 
              </div>
               TuneMusic Label
              </a>
        </div>
        <a href="/"> <i class="ri-home-5-fill pr-2"></i> Home</a>
        <a href="/terms"> <i class="ri-gallery-line pr-2"></i>Terms & policy</a>
        <a href="/packages"><i class="ri-phone-camera-fill pr-2"></i>Packages</a>
        <a href="/login"><i class="ri-login-box-line pr-2"></i>Login</a>
    
    </div>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide  ">
            <img src="/images/card4.avif" alt="">
            <div class="div head text-white  absolute">
                <h1>Sell Your Music WorldWide</h1>
                <p>Get your music on Spotify, Apple Music, Wynk, Hungama, YouTube, JioSaavn, Instagram and more. <br>
                    Keep 100% ownership of your music and stay in control of your career. Unlimited Releases starting at ₹1999*/month.</p>
            </div>
          </div>
          <div class="swiper-slide  ">
            <img src="/images/slide2.avif" alt="">
            <div class="div head text-white  absolute">
                <h1>Sell Your Music WorldWide</h1>
                <p>Get your music on Spotify, Apple Music, Wynk, Hungama, YouTube, JioSaavn, Instagram and more. <br>
                    Keep 100% ownership of your music and stay in control of your career. Unlimited Releases starting at ₹1999*/month.</p>
            </div>
          </div>
          <div class="swiper-slide  ">
            <img src="/images/slide3.avif" alt="">
            <div class="div head text-white  absolute">
                <h1>Sell Your Music WorldWide</h1>
                <p>Get your music on Spotify, Apple Music, Wynk, Hungama, YouTube, JioSaavn, Instagram and more. <br>
                    Keep 100% ownership of your music and stay in control of your career. Unlimited Releases starting at ₹1999*/month.</p>
            </div>
          </div>
         
        </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
      </div>
      <div class="div w-full h-fit ">
      <div class="div bg-zinc-100 flex flex-col gap-10 text-black h-full md:h-full lg:h-full xl:h-[50vh] px-6 lg:px-20 xl:py-5 w-full top">
        <div class="div flex lg:flex-row items-center lg:items-start lg:pt-10 xl:pt-0 pt-5 xl:items-center flex-col lg:gap-10">
          <div class="div items-start flex gap-4">
  <div class="div xl:h-60 lg:h-48 lg:w-60 xl:w-80 overflow-hidden rounded ">
    <img class="h-full w-full object-cover " src="/images/card4.avif" alt="">
  </div>
  <div class="div xl:h-60 lg:h-48 lg:w-60 overflow-hidden xl:w-80 rounded ">
    <img class=" h-full w-full object-cover " src="/images/card1.avif" alt="">
  </div>
          </div>
          <div class="div flex flex-col gap-5 py-5">
            <h1 class="xl:text-3xl md:text-2xl text-xl font-montserrat">Unlimited Distribution Starting at ₹1299*/year</h1>
            <p class="text-xs md:text-lg xl:text-lg">Get your music on Spotify, Apple Music, Wynk, Hungama, YouTube, JioSaavn, Instagram and more. Keep 100% ownership of your music and stay in control of your career.</p>
           <a href="/uploadMusic">

             <button class="learn-more">
                <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
                </span>
                <span style=" padding-left: 10px;" class="button-text "> Create yours</span>
              </button>
           </a> 
          </div>
        </div>
      </div>
      <h1 class="text-black pt-10   text-center text-2xl font-[700]">MORE RELEASES</h1>
      <div class="div mt-24  px-10 pb-10 place-content-center  md:gap-10  gap-14 lg:gap-10 md:grid-cols-2 place-items-center grid-cols-1  grid lg:grid-cols-3    xl:px-32">
        <div class="card">
          <div class="div xl:h-60 h-96  overflow-hidden xl:w-[17.3vw] rounded ">
            <img class="h-full w-full object-cover" src="/images/card1.avif" alt="">
          </div>
          <p class="heading">
            Popular this month
          </p>
          <p>
            Powered By
          </p>
          <p>TuneMusic
        </p>
      </div>
        <div class="card">
          <div class="div xl:h-60 h-96  overflow-hidden xl:w-[17.3vw] rounded ">
            <img class="h-full w-full object-cover" src="/images/card2.avif" alt="">
          </div>
          <p class="heading">
            Popular this month
          </p>
          <p>
            Powered By
          </p>
          <p>TuneMusic
        </p>
      </div>
        <div class="card">
          <div class="div xl:h-60 h-96  overflow-hidden xl:w-[17.3vw] rounded ">
            <img class="h-full w-full object-cover" src="/images/card3.avif" alt="">
          </div>
          <p class="heading">
            Popular this month
          </p>
          <p>
            Powered By
          </p>
          <p>TuneMusic
        </p>
      </div> 
      </div>
      <div class="bottom bg-zinc-100 xl:pl-48 lg:pl-20 py-5 md:px-10 xl:px-20 h-[80vh] flex md:flex-row flex-col gap-8 items-center w-full">
        <div class="div h-[25vw] md:h-96 xl:h-[25vw] xl:w-[25vw]  md:w-[80vw] bg-zinc-500 md:block hidden w-[25vw] ">
          <img class="h-full w-full object-cover " src="https://www.tunecore.in/wp-content/uploads/sites/15/2022/03/Adela.png" alt="">
        </div>
        <div class="div h-96 font-montserrat text-black flex flex-col gap-5 px-5 lg:pr-10 xl:pr-32">
          <h1 class="lg:text-3xl font-bold">Why Choose <span class="span"> TUNEMUSIC LABEL</span> </h1>
          <h4 class="text-xl font-[700]">Unlimited Worldwide Music Distribution</h4>
          <p class="lg:text-lg font-light">Get your music playing in over 150 digital stores and streaming services across 200+ countries worldwide. Starting at ₹1299*/year.</p>
          <h4 class="text-xl font-[700]">Unlimited Releases to Social Platforms</h4>
          <p class="text-lg font-light">Get your music on TikTok, YouTube, Instagram, Facebook and Resso for no annual fee.</p>
         <a href="/login"> <button class="learn-more">
            <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
            </span>
            <span class="button-text">Sign up Now</span>
          </button> </a>
        </div>
        </div>
        <div class="div bg-zinc-100 pb-10 pt-7 h-96 flex flex-col items-center justify-center w-full">
<h1 class="text-black font-[700] text-3xl text-center pt-5 lg:text-5xl">How to Sell Your <span class="span">Music Online</span></h1>
<p class="text-black px-5 lg:px-28 text-center lg:font-[600] lg:text-lg pt-5">Before TuneMusic, artists needed a label to get their music sold online. In 2006, we disrupted the industry by partnering directly with Digital Stores to allow any musician to sell their songs worldwide. Today, TuneMusic is the world's leading digital music aggregator. Choose an unlimited distribution plan, upload your music, and we'll do the rest. Your music will hit top digital stores, like Spotify and Apple Music, in no time.</p>
        </div>
      </div>

      <footer class="footer font-nunito pl-10">
        <div class="container row">
          <div class="footer-col">
            <h4>Learn About TuneMusic</h4>
            <ul>
              <li><a href="/">What Is TuneMusic? </a></li>
              <li><a href="/packages">Our Subscriptions</a></li>
              <li><a href="/terms">Terms & Conditions</a></li>
              <li><a href="/UserHome">Careers</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Make Money With TuneMusic</h4>
            <ul>
              <li><a href="/register">Create Your Account</a></li>
              <li><a href="/login">Sell Your Music</a></li>
              <li><a href="/UserHome">Artist Services</a></li>
              
            </ul>
          </div>
          <div class="footer-col">
            <h4>Account Services</h4>
            <ul>
              <li><a href="/login">Login</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="/">About</a></li>
             
            </ul>
          </div>
          <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
              <a href="#"><i class="fa-brands ri-facebook-fill"></i></a>
              <a href="#"><i class="fa-brands ri-twitter-x-line"></i></a>
              <a href="#"><i class="fa-brands ri-instagram-fill"></i></a>
              <a href="#"><i class="fa-brands ri-linkedin-fill"></i></a>
            </div>
          </div>
        </div>
      </footer>
</div>
<script src="/javascripts/sidebar.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    }
    );
  </script>
