<% include ./partials/header.ejs %>
<div class="div font-nunito">
    <nav class="flex  h-fit flex-col">
       
        <div class="div flex  bg-zinc-100 text-[#000] items-center justify-between py-5 px-5 lg:px-14 ">
            <div class="left ">
                <a class="text-bold inline-flex text-xl font-bold items-center" href="/"> 
                  <div class="div h-16 w-16 ">
                    <img class="h-full object-cover  w-full" src="/images/20230430_211720_0000-removebg-preview.png" alt=""> 
                  </div>
                  
                  TuneMusic Label</a>
            </div>
            <div class="right">
                <ul class="flex lg:text-lg text-lg md:text-sm md:gap-5   gap-8 items-center  ">
                    <li class=" font-bold"><a href="/"> Home</a></li>
                   
                    <li class=" font-bold"><a href="terms/">Terms & policy</a></li> 
                    <li class=" font-bold"><a href="/packages">Packages</a></li> 
                    <li class="font-bold"><a href="/login">Login</a></li>
                
                   
                    <h4><i id="menu-btn" class="  ri-menu-line"></i></h4>
                </ul>
            </div>
        </div>
    </nav>
    <div id="slidebar" class=" text-black bg-zinc-100">
        <div class="left">
            <a class="text-bold inline-flex text-2xl items-center justify-center" href="/">
              <div class="div h-16 w-16 ">
                <img class="h-full object-cover  w-full" src="/images/20230430_211720_0000-removebg-preview.png" alt=""> 
              </div>
               TuneMusic Label
              </a>
        </div>
        <a href="/"> <i class="ri-home-5-fill pr-2"></i> Home</a>
        <a href="/terms"> <i class="ri-gallery-line pr-2"></i>Terms & policy</a>
        <a href="/packages"><i class="ri-phone-camera-fill pr-2"></i>Packages</a>
        <a href="/login"><i class="ri-login-box-line pr-2"></i>Login</a>
    
    </div>
    <div class="div font-nunito h-full w-full ">
<div style="background-size: cover; background-image: url('/images/bg2.avif');" class="div text-white flex h-96 flex-col gap-5 md:h-[50vw] items-center justify-center lg:h-[30vw] w-full ">
<h1 class="md:text-4xl text-2xl font-extrabold">TuneMusic Packages</h1>
<p class="md:px-20 px-5 text-center text-md md:text-xl">Distribute your music to over 150 digital stores across 200 countries and territories worldwide. Get daily sales trends for JioSaavn, Amazon, iTunes, Apple Music, and Spotify, and keep every cent of what you’re owed from sales and streams.</p>
<a href="/login" class="rounded-full px-8 text-xl font-semibold py-3 bg-blue-500">Get Started</a>
</div>
<div class="div h-full  flex flex-col w-full ">
    <div class="packages py-10 lg:h-[35vw] gap-5 px-8 w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 place-items-center">        
<div class="max-w-80 h-80 py-10 px-2 bg-white gap-4 flex flex-col items-center justify-center rounded-lg shadow border-4 border-teal-600">
    <h1 class="text-xl">New Artist</h1>
    <a>
        <h5 class=" text-2xl font-bold tracking-tight ">FREE</h5>
    </a>
    <p class=" text-center font-normal text-gray-700 ">Kick-start your career with unlimited releases to Social Platforms.</p>
    <a href="/login" class="inline-flex items-center px-5 py-2 text-sm font-medium text-center hover:bg-teal-600  rounded-full border-2 border-zinc-300">
       Get Started
        
    </a>
</div>
<div class="max-w-80 h-80  py-10 px-2 bg-white gap-4 flex flex-col items-center justify-center rounded-lg shadow border-4 border-blue-600">
    <h1 class="text-xl">BASIC PLAN</h1>
    <a>
        <h5 class=" text-2xl font-bold tracking-tight ">₹99 <span class="text-lg">/Release</span> </h5>
    </a>
    <p class=" text-center font-normal text-gray-700 ">The essential distribution plan. Release unlimited music to 150+ Digital Stores across the globe.</p>
    <a href="https://wa.me/917384969241" class="inline-flex items-center px-5 py-2 hover:bg-blue-600 text-sm font-medium text-center   rounded-full border-2 border-zinc-300">
       Get Started   
    </a>
</div>
<div class="max-w-80 h-80  py-10 px-2 bg-white gap-4 flex flex-col items-center justify-center rounded-lg shadow border-4 border-pink-600">
    <h1 class="text-xl uppercase">Standard Plan</h1>
    <a>
        <h5 class=" text-2xl font-bold tracking-tight ">₹499 <span class="text-lg">/Month</span> </h5>
    </a>
    <p class=" text-center font-normal text-gray-700 ">Release unlimited music plus advanced features to customize your releases.</p>
    <a href="https://wa.me/917384969241" class="inline-flex items-center px-5 hover:bg-pink-600 py-2 text-sm font-medium text-center   rounded-full border-2 border-zinc-300">
       Get Started
        
    </a>
</div>
<div class="max-w-80 h-80 py-10 px-2 bg-white gap-4 flex flex-col items-center justify-center rounded-lg shadow border-4 border-yellow-600">
    <h1 class="text-xl uppercase">Premium Plan</h1>
    <a>
        <h5 class=" text-2xl font-bold tracking-tight ">₹1999 <span class="text-lg">/Month</span> </h5>
    </a>
    <p class=" text-center font-normal text-gray-700 ">The premier plan for labels and industry pros. Release unlimited music plus access to premium products and services.</p>
    <a href="https://wa.me/917384969241" class="inline-flex items-center px-5 py-2 hover:bg-yellow-600 text-sm font-medium text-center   rounded-full border-2 border-zinc-300">
       Get Started
        
    </a>
</div>

    </div>

    

<div class="relative lg:py-10 lg:px-20 hidden md:block overflow-x-auto  sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-black ">
        <thead class="text-xs text-zinc-700 uppercase x ">
            <tr>
                <th scope="col" class="px-3 py-3">
                  
                </th>
                <th scope="col" class=" bg-gray-50 dark:bg-zinc-200  rounded-tl-2xl px-3 py-3">
                    <h1 class="text-lg uppercase">New Artist</h1>
                    <a>
                        <h5 class=" text-2xl font-bold tracking-tight ">FREE </h5>
                    </a>
                </th>
                <th scope="col" class=" px-3 bg-gray-50 dark:bg-zinc-200 py-3">
                    <h1 class="text-lg uppercase">Basic Plan</h1>
                    <a>
                        <h5 class=" text-2xl font-bold tracking-tight ">₹99 <span class="text-lg">/Release</span> </h5>
                    </a>
                </th>
                <th scope="col" class="px-3 bg-gray-50 dark:bg-zinc-200 py-3">
                    <h1 class="text-lg uppercase">Standard Plan</h1>
                    <a>
                        <h5 class=" text-2xl font-bold tracking-tight ">₹499 <span class="text-lg">/Month</span> </h5>
                    </a>
                </th>
                <th scope="col" class="px-3 bg-gray-50 rounded-tr-2xl dark:bg-zinc-200 py-3">
                    <h1 class="text-lg uppercase">premium Plan</h1>
                    <a>
                        <h5 class=" text-2xl font-bold tracking-tight ">₹1999 <span class="text-lg">/Month</span> </h5>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class=" ">
                <th scope="row" class="px-6 py-4 text-xl font-medium text-zinc-900 whitespace-nowrap dark:text-black">
                    Daily Trend Reports
                </th>
                <td class="px-6 bg-zinc-50 py-4">
                   <img class="h-8 w-8" src="/images/CheckGreen.svg" alt="">
                </td>
                <td class="px-6  bg-zinc-100 py-4">
                    <img class="h-8 w-8" src="/images/CheckBlue.svg" alt="">
                </td>
                <td class="px-6 bg-zinc-100 py-4">
                    <img class="h-8 w-8" src="/images/CheckRed.svg" alt="">
                </td>
                <td class="px-6 bg-zinc-100 py-4">
                    <img class="h-8 w-8" src="/images/CheckYellow.svg" alt="">
                </td>
            </tr>
            <tr class=" ">
                <th scope="row" class="px-6 py-4 text-xl font-medium text-zinc-900 whitespace-nowrap dark:text-black">
                    Approved within 48 hours
                </th>
                
                    <td class="px-6 bg-zinc-50 py-4">
                        <img class="h-8 w-8" src="/images/CheckGreen.svg" alt="">
                     </td>
               
                <td class="px-6 bg-zinc-100 py-4">
                    <img class="h-8  w-8" src="/images/CheckBlue.svg" alt="">
                </td>
                <td class="px-6 bg-zinc-100 py-4">
                    
                </td>
                <td class="px-6 bg-zinc-100 py-4">
                </td>
            </tr>
           
            <tr class=" ">
                <th scope="row" class="px-6 py-4 text-xl font-medium text-zinc-900 whitespace-nowrap dark:text-black">
                    Callertune Service
                </th>
                <td class="px-6 bg-zinc-50 py-4">
                    
                </td>
                <td class="px-6 bg-zinc-100 py-4">
                    <img class="h-8 w-8" src="/images/CheckBlue.svg" alt="">
                </td>
                <td class="px-6 bg-zinc-100 py-4">
                    <img class="h-8 w-8" src="/images/CheckRed.svg" alt="">
                </td>
                <td class="px-6 bg-zinc-100 py-4">
                    <img class="h-8 w-8" src="/images/CheckYellow.svg" alt="">
                </td>
            </tr>
            <tr class=" ">
                <th scope="row" class="px-6 py-4 text-xl font-medium text-zinc-900 whitespace-nowrap dark:text-black">
                    Analytics and reporting
                </th>
                <td class="px-6 bg-zinc-50 py-4">
                    
                </td>
                <td class="px-6 bg-zinc-100 py-4">
                   Basic
                </td>
                <td class="px-6 bg-zinc-100 py-4">
                    Detailed
                </td>
                <td class="px-6 bg-zinc-100 py-4">
                   Advanced
                </td>
            </tr>
            <tr class=" ">
                <th scope="row" class="px-6 py-4 text-xl font-medium text-zinc-900 whitespace-nowrap dark:text-black">
                    Delivery on 220+ Stores
                </th>
                <td class="px-6 bg-zinc-50 py-4">
                    <img class="h-8 w-8" src="/images/CheckGreen.svg" alt="">
                 </td>
                <td class="px-6 bg-zinc-100 py-4">
                    <img class="h-8 w-8" src="/images/CheckBlue.svg" alt="">
                </td>
                <td class="px-6  bg-zinc-100 py-4">
                    <img class="h-3 w-4 inline-flex items-center" src="/images/CheckRed.svg" alt="">International and Indian
                </td>
                <td class="px-6 bg-zinc-100 py-4">
                    <img class="h-3 w-4 inline-flex items-center" src="/images/CheckYellow.svg" alt="">International and Indian
                </td>
            </tr>
            <tr class=" ">
                <th scope="row" class="px-6 py-4 text-xl font-medium text-zinc-900 whitespace-nowrap dark:text-black">
                    Distribute unlimited songs per month
                </th>
                <td class="px-6 bg-zinc-50 py-4">
                 
                </td>
                <td class="px-6 bg-zinc-100 py-4">
                   
                </td>
                <td class="px-6 bg-zinc-100 py-4">
                    <img class="h-8 w-8" src="/images/CheckRed.svg" alt="">
                </td>
                <td class="px-6 bg-zinc-100 py-4">
                    <img class="h-8 w-8" src="/images/CheckYellow.svg" alt="">
                </td>
            </tr>
            
            <tr class=" ">
                <th scope="row" class="px-6 py-4 text-xl font-medium text-zinc-900 whitespace-nowrap dark:text-black">
                    Approved within 24 hours
                </th>
                <td class="px-6 bg-zinc-50 py-4">
                  
                </td>
                <td class="px-6 bg-zinc-100 py-4">
                    
                </td>
                <td class="px-6 bg-zinc-100 py-4">
                    <img class="h-8 w-8" src="/images/CheckRed.svg" alt="">
                </td>
                <td class="px-6 bg-zinc-100 py-4">
                    <img class="h-8 w-8" src="/images/CheckYellow.svg" alt="">
                </td>
            </tr>
            <tr class=" ">
                <th scope="row" class="px-6 py-4 text-xl font-medium text-zinc-900 whitespace-nowrap dark:text-black">
                    Free YouTube Artist Channel
                </th>
                <td class="px-6 bg-zinc-50 py-4">
               
                </td>
                <td class="px-6 bg-zinc-100 py-4">
                    
                </td>
                <td class="px-6 bg-zinc-100 py-4">
                    <img class="h-8 w-8" src="/images/CheckRed.svg" alt="">
                </td>
                <td class="px-6 bg-zinc-100 py-4">
                    <img class="h-8 w-8" src="/images/CheckYellow.svg" alt="">
                </td>
            </tr>
            <tr class=" ">
                <th scope="row" class="px-6 py-4 text-xl font-medium text-zinc-900 whitespace-nowrap dark:text-black">
                    Instagram music linking
                </th>
                <td class="px-6 bg-zinc-50 py-4">
                   
                </td>
                <td class="px-6 bg-zinc-100 py-4">
                   
                </td>
                <td class="px-6 bg-zinc-100 py-4">
                    <img class="h-8 w-8" src="/images/CheckRed.svg" alt="">
                </td>
                <td class="px-6 bg-zinc-100 py-4">
                    <img class="h-8 w-8" src="/images/CheckYellow.svg" alt="">
                </td>
            </tr>
            <tr class=" ">
                <th scope="row" class="px-6 py-4 text-xl font-medium text-zinc-900 whitespace-nowrap dark:text-black">
                    Priority Support
                </th>
                <td class="px-6 bg-zinc-50 py-4">
                 
                </td>
                <td class="px-6 bg-zinc-100 py-4">
                   
                </td>
                <td class="px-6 bg-zinc-100 py-4">
                    <img class="h-8 w-8" src="/images/CheckRed.svg" alt="">
                </td>
                <td class="px-6 bg-zinc-100 py-4">
                    <img class="h-8 w-8" src="/images/CheckYellow.svg" alt="">
                </td>
            </tr>
            <tr class=" ">
                <th scope="row" class="px-6 py-4 text-xl font-medium text-zinc-900 whitespace-nowrap dark:text-black">
                    Free VEVO Channel
                </th>
                <td class="px-6 rounded-bl-2xl bg-zinc-50 py-4">
                    
                </td>
                <td class="px-6 bg-zinc-100 py-4">
                   
                </td>
                <td class="px-6 bg-zinc-100 py-4">
                    
                </td>
                <td class="px-6 rounded-br-2xl bg-zinc-100 py-4">
                    <img class="h-8 w-8" src="/images/CheckYellow.svg" alt="">
                </td>
            </tr>
            
        </tbody>
    </table>
</div>

</div>
<div class="bottom bg-white xl:pl-48 lg:pl-20 py-10 md:px-7 justify-center xl:px-20 h-full  flex md:flex-row flex-col gap-10 w-full">
    <div class="div h-[25vw] md:h-96 rounded-md xl:h-[30vw] xl:w-[30vw] lg:w-[40vw] md:w-[60vw] bg-zinc-300 md:block hidden w-[25vw] ">
      <img class="h-full w-full object-cover " src="https://www.tunecore.in/wp-content/uploads/sites/15/2022/03/Adela.png" alt="">
    </div>
    <div class="div h-full md:w-[100vw] lg:w-full font-montserrat text-black flex flex-col gap-5 md:gap-2 lg:gap-5 px-5 lg:pr-10 xl:pr-32">
      <h1 class="lg:text-3xl font-bold">There Are  <span class="span">No Barriers</span>  to Your Career </h1>
      <h4 class="text-xl lg:text-xl md:text-lg font-[700]">Keep Your Earnings Intact</h4>
      <p class="lg:text-lg md:text-sm font-light">With TuneMusic, you retain 100% of your sales revenue. We don't touch what you earn from downloads and streams, ensuring that what you make is what you take home.</p>
      <h4 class="text-xl lg:text-xl md:text-lg font-[700]">Expand Your Reach Globally</h4>
      <p class="text-lg md:text-sm font-light">Your music deserves a worldwide audience. TuneMusic makes it possible by distributing your music to all major digital music stores and streaming platforms worldwide, ensuring your fans can access your music wherever they are.</p>
     
      <h4 class="text-xl lg:text-xl md:text-lg font-[700]">Swift and Dependable Artist Support</h4>
      <p class="text-lg md:text-sm font-light">Count on our dedicated team of Customer Care and Content Review & Rights Specialists to assist you promptly. </p>
     
     
    </div>
    </div>
    </div>
    <footer class="footer font-nunito pl-10">
        <div class="container row">
          <div class="footer-col">
            <h4>Learn About TuneMusic</h4>
            <ul>
                <li><a href="/">What Is TuneMusic? </a></li>
                <li><a href="/packages">Our Subscriptions</a></li>
                <li><a href="/terms">Terms & Conditions</a></li>
                <li><a href="/UserHome">Careers</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Make Money With TuneMusic</h4>
            <ul>
                <li><a href="/register">Create Your Account</a></li>
                <li><a href="/login">Sell Your Music</a></li>
                <li><a href="/UserHome">Artist Services</a></li>
                
            </ul>
          </div>
          <div class="footer-col">
            <h4>Account Services</h4>
            <ul>
              <li><a href="/login">Login</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="/">About</a></li>
             
            </ul>
          </div>
          <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
              <a href="#"><i class="fa-brands ri-facebook-fill"></i></a>
              <a href="#"><i class="fa-brands ri-twitter-x-line"></i></a>
              <a href="#"><i class="fa-brands ri-instagram-fill"></i></a>
              <a href="#"><i class="fa-brands ri-linkedin-fill"></i></a>
            </div>
          </div>
        </div>
      </footer>
</div>
<script src="/javascripts/sidebar.js"></script>
