<% include ./partials/header.ejs %>
<style>
    html {
        margin: 0;
        padding: 0;
      }
      
      body {
        margin: 0;
        padding: 0;
        color: white;
        background-image: url(https://www.fnu.edu/wp-content/uploads/2014/09/Study_in_group_in_the_HHS_library.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: Inter, sans-serif;
      }
      
      .container {
        margin: 0;
        padding: 48px 0;
        width: 100%;
        height: inherit;
        background-color: #2c003fdd;
      }
      
      h1,
      p {
        text-align: center;
      }
      
      h1 {
        margin: 0;
        margin-bottom: 16px;
        font-size: 36px;
        font-weight: 500;
      }
      
      p {
        margin: 0;
        font-weight: 200;
      }
      
      form {
        width: fit-content;
        margin: 48px auto 36px auto;
        background-color: #1e002acc;
        padding: 48px 36px;
        border-radius: 10px;
      }
      
      form label:first-of-type {
        margin-top: 0;
      }
      
     
      
      input,
      select,
      textarea,
      button {
        width: 100%;
        max-width: 500px;
        min-height: 32px;
        margin-top: 2px;
        padding: 8px 8px;
        border-radius: 4px;
        border: 0;
        color: black;
        font-family: Inter, sans-serif;
        font-size: 14px;
        box-sizing: border-box;
      }
      
      fieldset {
        border: 0;
        padding: 0;
        margin: 0;
      }
      
      fieldset input {
        min-height: unset;
        width: 15px;
        height: 15px;
        vertical-align: text-line;
      }
      
      fieldset label {
        margin: 4px 0;
      }
      
      legend {
        font-size: 18px;
        margin-bottom: 8px;
      }
      
      button {
        padding: 12px;
        background-color: rgb(0, 170, 0);
        color: white;
      }
      
</style>
<div class="div">
  <nav class="flex  h-fit flex-col">
       
    <div class="div flex  bg-zinc-100 text-[#000] items-center justify-between py-5 px-5 lg:px-14 ">
        <div class="left ">
            <a class="text-bold inline-flex text-xl font-bold items-center" href="/"> <img class="h-16 w-24" src="/images/20230430_211720_0000-removebg-preview.png" alt=""> Tune <span>Music</span></a>
        </div>
        <div class="right">
            <ul class="flex lg:text-lg text-lg md:text-sm md:gap-5  font-['gilroy'] gap-8 items-center  ">
                <li class=" font-bold"><a href="/"> Home</a></li>
                <li class=" font-bold"><a href="/userprofile">Dashboard</a></li>
                <li class=" font-bold"><a href="/uploadMusic">Upload Songs</a></li>
                <li class=" font-bold"><a href="/songs">Your Songs</a></li>
               
               
                <% if(loggedInUser) { %>
                  <li class="font-bold"><a href="/logout">Logout</a></li>
                <% } else { %>
                  <li class="font-bold"><a href="/login">Login</a></li>
                <% } %>
               
                <h4><i id="menu-btn" class="  ri-menu-line"></i></h4>
            </ul>
        </div>
    </div>
</nav>
<div id="slidebar" class=" text-black bg-zinc-100">
    <div class="left">
        <a class="text-bold inline-flex text-2xl items-center justify-center" href="/"> <img class="h-16 w-24" src="/images/20230430_211720_0000-removebg-preview.png" alt=""> Tune <span>Music</span></a>
    </div>
    <a href="/"> <i class="ri-home-5-fill pr-2"></i> Home</a>
    <a href="/userprofile"> <i class="ri-home-5-fill pr-2"></i> Dashboard</a>
    <a href="/uploadMusic"><i class="ri-phone-camera-fill pr-2"></i>Upload Songs</a>
    <a href="/songs"> <i class="ri-gallery-line pr-2"></i>Your Songs</a>

    <!-- <a href="/register">Register</a> -->
    <% if(loggedInUser) { %>
    <a href="/login"><i class="ri-logout-box-line pr-2"></i>Logout</a>
      <% } else { %>
    <a href="/login"><i class="ri-login-box-line pr-2"></i>Login</a>
    <% } %>
</div>
    <div class="div ">
        <div class="container">
            <header>
              <h1 id="title">Create Your Song Track</h1>
              <p id="description">
                Thank you for taking the time to help us improve the platform
              </p>
            </header>
            <main>
              <form id="survey-form" action="/uploadMusic" enctype="multipart/form-data" class="flex flex-col items-center gap-5"  method="post">
                <div class="grid gap-10 grid-cols-3">

                    <div class="div">
                        <label id="name-label"  for="name"
                          >Choose song</label>
                          <input class="text-white" type="file"name="filename" accept="audio/*" required>
                    </div>
                   
                    <div class="div">
                        <label id="name-label"  for="name"
                          >Choose song Title</label>
                          <input type="text" name="title" placeholder="Track Title" required>
                    </div>
                   
                    <div class="div">
                      
                        <label id="name-label" class="text-white" for="name"
                          >Choose image</label>
                          <input class="text-white" type="file" name="posterUrl" accept="image/*" required>
                    </div>
                   
                    <div class="div">
                        <label id="name-label"  for="name"
                          >Artist Name</label>
                          <input type="text" name="artistName" placeholder="Artist Name" required>
                    </div>
                   
                    <div class="div">
                        <label id="name-label"  for="name"
                          >Instagram Id</label>
                          <input type="text" name="instagramId" placeholder="Instagram ID">
                    </div>
                    <div class="div">
                        <label id="name-label"  for="name"
                          >ISRC Code</label>
                          <input type="text" name="isrcCode" placeholder="ISRC Code">
                    </div>
                    <div class="div">
                        <label id="name-label"  for="name"
                          >upcCode Code</label>
                          <input type="text" name="upcCode" placeholder="upcCode">
                    </div>
                    <div class="div">
                        <label id="name-label"  for="name"
                          >genre</label>
                          <input type="text" name="genre" placeholder="genre">
                    </div>
                    <div class="div">
                        <label id="name-label"  for="name"
                          >releaseDate</label>
                          <input type="date" name="releaseDate" placeholder="releaseDate" required>
                    </div>
                   
                </div>    
                <button class="bg-white text-black font-bold" type="submit" id="submit">Submit</button>
              </form>
            </main>
          </div>
    </div>
  
</div>
<script src="/javascripts/sidebar.js"></script>