<% include ./partials/header.ejs %>
<style>

    
  
    
    form {
      width: fit-content;


      border-radius: 10px;
    }
    
    form label:first-of-type {
      margin-top: 0;
    }
    
   
    
    input,
    select,
    textarea,
    button {
      width: 100%;
      max-width: 500px;
      min-height: 32px;
      margin-top: 2px;
      padding: 8px 8px;
      border-radius: 4px;
      border: 0;
      color: black;
      font-family: Inter, sans-serif;
      font-size: 14px;
      box-sizing: border-box;
    }
    
    fieldset {
      border: 0;
      padding: 0;
      margin: 0;
    }
    
    fieldset input {
      min-height: unset;
      width: 15px;
      height: 15px;
      vertical-align: text-line;
    }
    
    fieldset label {
      margin: 4px 0;
    }
    
    legend {
      font-size: 18px;
      margin-bottom: 8px;
    }
    
    button {
      padding: 12px;
      background-color: rgb(0, 170, 0);
    
    }
    
</style>
<div class="div">
  <nav class="flex  h-fit flex-col">
       
    <div class="div flex  bg-zinc-100 text-[#000] items-center justify-between py-5 px-5 lg:px-14 ">
        <div class="left ">
            <a class="text-bold inline-flex text-xl font-bold items-center" href="/"> <img class="h-16 w-24" src="/images/20230430_211720_0000-removebg-preview.png" alt=""> Tune <span>Music</span></a>
        </div>
        <div class="right">
            <ul class="flex lg:text-lg text-lg md:text-sm md:gap-5  font-['gilroy'] gap-8 items-center  ">
                <li class=" font-bold"><a href="/"> Home</a></li>
                <li class=" font-bold"><a href="/userprofile">Dashboard</a></li>
                <li class=" font-bold"><a href="/uploadMusic">Upload Songs</a></li>
                <li class=" font-bold"><a href="/songs">Your Songs</a></li>
               
               
                <% if(loggedInUser) { %>
                  <li class="font-bold"><a href="/logout">Logout</a></li>
                <% } else { %>
                  <li class="font-bold"><a href="/login">Login</a></li>
                <% } %>
               
                <h4><i id="menu-btn" class="  ri-menu-line"></i></h4>
            </ul>
        </div>
    </div>
</nav>
<div id="slidebar" class=" text-black bg-zinc-100">
    <div class="left">
        <a class="text-bold inline-flex text-2xl items-center justify-center" href="/"> <img class="h-16 w-24" src="/images/20230430_211720_0000-removebg-preview.png" alt=""> Tune <span>Music</span></a>
    </div>
    <a href="/"> <i class="ri-home-5-fill pr-2"></i> Home</a>
    <a href="/userprofile"> <i class="ri-home-5-fill pr-2"></i> Dashboard</a>
    <a href="/uploadMusic"><i class="ri-phone-camera-fill pr-2"></i>Upload Songs</a>
    <a href="/songs"> <i class="ri-gallery-line pr-2"></i>Your Songs</a>

    <!-- <a href="/register">Register</a> -->
    <% if(loggedInUser) { %>
    <a href="/logout"><i class="ri-logout-box-line pr-2"></i>Logout</a>
      <% } else { %>
    <a href="/login"><i class="ri-login-box-line pr-2"></i>Login</a>
    <% } %>
</div>
    <div class="div h-[85vh] flex w-full ">
       <div class="left h-full w-[50%] bg-red-400">
        <img class="h-full object-cover w-full" src="https://images.unsplash.com/photo-1529220182440-a217aedfe80d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzJ8fG11c2ljJTIwYmFja2dyb3VuZHxlbnwwfDB8MHx8fDA%3D" alt="">
       </div>
       <div class="right">
        <form id="survey-form" action="/uploadMusic" enctype="multipart/form-data" class="flex flex-col items-center gap-5"  method="post">
          <div class="grid gap-8 px-5 py-10  grid-cols-2">

              <div class="div">
                  <label id="name-label"  for="name"
                    >Choose Song Track</label>
                    <input  class="bg-zinc-200 rounded-lg" type="file"name="filename" accept="audio/*" required>
              </div>
             
              <div class="div">
                  <label id="name-label"  for="name"
                    >Choose Song Title</label>
                    <input type="text" class="rounded-lg bg-zinc-200" name="title" placeholder="Track Title" required>
              </div>
             
              <div class="div">
                
                  <label id="name-label" class="text-black" for="name"
                    >Choose Poster</label>
                    <input class="bg-zinc-200 rounded-lg" type="file" name="posterUrl" accept="image/*" required>
              </div>
             
              <div class="div">
                  <label id="name-label"  for="name"
                    >Artist Name</label>
                    <input type="text" class="rounded-lg bg-zinc-200"  name="artistName" placeholder="Artist Name" required>
              </div>
             
              <div class="div">
                  <label id="name-label"  for="name"
                    >Instagram Id</label>
                    <input type="text" class="rounded-lg bg-zinc-200"  name="instagramId" placeholder="Instagram ID">
              </div>
              <div class="div">
                  <label id="name-label"  for="name"
                    >ISRC Code</label>
                    <input type="text" class="rounded-lg bg-zinc-200"  name="isrcCode" placeholder="ISRC Code">
              </div>
              <div class="div">
                  <label id="name-label"  for="name"
                    >UPC Code</label>
                    <input type="text" class="rounded-lg bg-zinc-200"  name="upcCode" placeholder="upcCode">
              </div>
              <div class="div">
                  <label id="name-label"  for="name"
                    >Genre</label>
                    <input type="text" class="rounded-lg bg-zinc-200"  name="genre" placeholder="genre">
              </div>
              <div class="div">
                  <label id="name-label"  for="name"
                    >Release Date</label>
                    <input type="date" class="rounded-lg bg-zinc-200"  name="releaseDate" placeholder="releaseDate" required>
              </div>
             
          </div>    
          <button class="bg-purple-500 text-black font-bold" type="submit" id="submit">Submit</button>
        </form>
       </div>
    </div>
  
</div>
<script src="/javascripts/sidebar.js"></script>