<% include ./partials/header.ejs %>
<style>
    html {
        margin: 0;
        padding: 0;
      }
      
      body {
        margin: 0;
        padding: 0;
        color: white;
        background-image: url(https://www.fnu.edu/wp-content/uploads/2014/09/Study_in_group_in_the_HHS_library.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: Inter, sans-serif;
      }
      
      .container {
        margin: 0;
        padding: 48px 0;
        width: 100%;
        height: inherit;
        background-color: #2c003fdd;
      }
      
      h1,
      p {
        text-align: center;
      }
      
      h1 {
        margin: 0;
        margin-bottom: 16px;
        font-size: 36px;
        font-weight: 500;
      }
      
      p {
        margin: 0;
        font-weight: 200;
      }
      
      form {
        width: fit-content;
        margin: 48px auto 36px auto;
        background-color: #1e002acc;
        padding: 48px 36px;
        border-radius: 10px;
      }
      
      form label:first-of-type {
        margin-top: 0;
      }
      
     
      
      input,
      select,
      textarea,
      button {
        width: 100%;
        max-width: 500px;
        min-height: 32px;
        margin-top: 2px;
        padding: 8px 8px;
        border-radius: 4px;
        border: 0;
        color: black;
        font-family: Inter, sans-serif;
        font-size: 14px;
        box-sizing: border-box;
      }
      
      fieldset {
        border: 0;
        padding: 0;
        margin: 0;
      }
      
      fieldset input {
        min-height: unset;
        width: 15px;
        height: 15px;
        vertical-align: text-line;
      }
      
      fieldset label {
        margin: 4px 0;
      }
      
      legend {
        font-size: 18px;
        margin-bottom: 8px;
      }
      
      button {
        padding: 12px;
        background-color: rgb(0, 170, 0);
        color: white;
      }
      
</style>
<div class="div">
    <nav class="flex  h-fit flex-col">
       
        <div class="div flex bg-[#000] text-[#fff] items-center justify-between py-5 px-5 lg:px-14 ">
            <div class="left">
                <a class="text-bold " href="/">Tune <span>Music</span></a>
            </div>
            <div class="right">
                <ul class="flex lg:text-lg text-lg md:text-sm md:gap-5  font-['gilroy'] gap-8 items-center  ">
                    <li class=" font-bold"><a href="/"> Home</a></li>
                    <li class=" font-bold"><a href="/uploadMusic">Create Songs</a></li>
                    <li class=" font-bold"><a href="/gallery">Songs</a></li>
                   
                    <li class=" font-bold"><a href="/contact">Contact Us</a></li>
                    <li class=" font-bold"><a href="/login">Login</a></li>
                    <h4><i id="menu-btn" class="  ri-menu-line"></i></h4>
                </ul>
            </div>
        </div>
    </nav>
    <div id="slidebar" class=" bg-[#000]">
        <div class="left">
            <a class="text-bold " href="/">Tune <span>Music</span></a>
        </div>
        <a href="/"> <i class="ri-home-5-fill pr-2"></i> Home</a>
        <a href="/about"><i class="ri-store-2-fill pr-2"></i> About</a>
        <a href="/gallery"> <i class="ri-gallery-line pr-2"></i> Gallery</a>
        <a href="/programs"><i class="ri-phone-camera-fill pr-2"></i> Our Programs</a>
        <a href="/activity"> <i class="ri-character-recognition-line pr-2"></i> Activities</a>
        <a href="/contact"> <i class="ri-phone-line pr-2"></i> Contact</a>
        <!-- <a href="/register">Register</a> -->
        <a href="/login"><i class="ri-login-box-line pr-2"></i>Login</a>
    </div>
    <div class="div ">
        <div class="container">
            <header>
              <h1 id="title">Create Your Song Track</h1>
              <p id="description">
                Thank you for taking the time to help us improve the platform
              </p>
            </header>
            <main>
              <form id="survey-form" action="#" class="flex flex-col items-center gap-5"  method="post">
                <div class="grid gap-10 grid-cols-3">

                    <div class="div">
                        <label id="name-label"  for="name"
                          >Choose song</label>
                          <input type="file" name="audio" accept="audio/*" required>
                    </div>
                   
                    <div class="div">
                        <label id="name-label"  for="name"
                          >Choose song Title</label>
                          <input type="text" name="title" placeholder="Track Title" required>
                    </div>
                   
                    <div class="div">
                        <label id="name-label"  for="name"
                          >Choose image</label>
                          <input type="file" name="posterUrl" accept="image/*">
                    </div>
                   
                    <div class="div">
                        <label id="name-label"  for="name"
                          >Artist Name</label>
                          <input type="text" name="artistName" placeholder="Artist Name">
                    </div>
                   
                    <div class="div">
                        <label id="name-label"  for="name"
                          >Instagram Id</label>
                          <input type="text" name="instagramId" placeholder="Instagram ID">
                    </div>
                    <div class="div">
                        <label id="name-label"  for="name"
                          >ISRC Code</label>
                          <input type="text" name="isrcCode" placeholder="ISRC Code">
                    </div>
                    <div class="div">
                        <label id="name-label"  for="name"
                          >upcCode Code</label>
                          <input type="text" name="upcCode" placeholder="upcCode">
                    </div>
                    <div class="div">
                        <label id="name-label"  for="name"
                          >genre</label>
                          <input type="text" name="genre" placeholder="genre">
                    </div>
                    <div class="div">
                        <label id="name-label"  for="name"
                          >releaseDate</label>
                          <input type="text" name="releaseDate" placeholder="releaseDate">
                    </div>
                   
                </div>
             
            
             
                
                <button id="submit">Submit</button>
              </form>
            </main>
          </div>
    </div>
  
</div>