<% include ./partials/header.ejs %>
<div class="div">
    <nav class="flex  h-fit flex-col">
       
        <div class="div flex bg-[#000] text-[#fff] items-center justify-between py-5 px-5 lg:px-14 ">
            <div class="left">
                <a class="text-bold " href="/">Tune <span>Music</span></a>
            </div>
            <div class="right">
                <ul class="flex lg:text-lg text-lg md:text-sm md:gap-5  font-['gilroy'] gap-8 items-center  ">
                    <li class=" font-bold"><a href="/"> Home</a></li>
                    <li class=" font-bold"><a href="/uploadMusic">Upload Songs</a></li>
                    <li class=" font-bold"><a href="/songs">Your Songs</a></li>
                   
                    <li class=" font-bold"><a href="/contact">Contact Us</a></li>
                   
                    <% if(loggedInUser) { %>
                      <li class="font-bold"><a href="/logout">Logout</a></li>
                    <% } else { %>
                      <li class="font-bold"><a href="/login">Login</a></li>
                    <% } %>
                   
                    <h4><i id="menu-btn" class="  ri-menu-line"></i></h4>
                </ul>
            </div>
        </div>
    </nav>
    <div id="slidebar" class=" bg-[#000]">
        <div class="left">
            <a class="text-bold " href="/">Tune <span>Music</span></a>
        </div>
        <a href="/"> <i class="ri-home-5-fill pr-2"></i> Home</a>
        <a href="/uploadMusic"><i class="ri-phone-camera-fill pr-2"></i>Upload Songs</a>
        <a href="/songs"> <i class="ri-gallery-line pr-2"></i>Your Songs</a>
    
        <a href="/contact"> <i class="ri-phone-line pr-2"></i> Contact</a>
        <!-- <a href="/register">Register</a> -->
        <% if(loggedInUser) { %>
        <a href="/login"><i class="ri-logout-box-line pr-2"></i>Logout</a>
          <% } else { %>
        <a href="/login"><i class="ri-login-box-line pr-2"></i>Login</a>
        <% } %>
    </div>
</div>
